aside{
    margin-left: 0;
    margin-right: 0;
    background-color: azure;
    order: 3; 
    width:15%;
}
footer {
    margin-top: 10px;
    background-color: lightgray;
}
header{
    margin-bottom: 10px;
    position: fixed;
    left: 40%;
    background-color: lightgoldenrodyellow;;
}
#middle {
    order: 2; 
    width: calc(100% - 15% - 30%);
}
#left {
    order:1; 
    min-width: 200px; 
    width: 30%
}
#main {
    display:flex; 
    text-align: left;
}
#right {
    order: 3;
    width: 15%;
}

@media screen and (max-width: 1500px){
    #main {flex-direction: column;}
    #left { order: 2; min-width: none;}
    #right { order: 2;}
}
@media screen and (min-width: 1501px) and (max-width:1999px){
    #right { order: 1; width:15%}
}
@media screen and (min-width: 2000px){

}
